#left-main {
    float: left;
    width: 80%;
    min-height: 25em;
    margin-right: 0;
}
#right-main {
    float: left;
    width: 18%;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 2em;
}

#right-main h3 {
    color: white;
    text-align: center;
    margin-top: 0;
}
#right-main ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

}

#right-main li {
    margin-bottom: 0.43em;
    padding: 0;
    /* background-color: rgba(97,97,97,0.54); */
    background-color: none;
    border-radius: 0.4em;
    padding-left: 0.5em;
    font-size: 0.9em;
}

#right-main li a:link{
    color: #acc;
}
#right-main li a:visited{
    color: #acc;
}

#right-main li a:hover{
    color: #acc;
}

#right-main li a:selected{
    color: #acc;
}

@media only screen and (max-width: 900px) {
    #left-main {
        width: 100%;
        float: clear;
    }
    #right-main {
        width: 100%;
        float: clear;
        margin-top: 1em;
        margin-left: 0;
    }
    #right-main h3 {
        color: white;
        text-align: center;
        margin-top: 1em;;
    }
    
}

